.header-wrapper{
  width: 100%;
  /*box-shadow: 1px 1px 15px #a7a7a7;*/
  margin-right: 5%;
  padding-right: 30px;
  font-size: 1.5rem;
}
.header-wrapper ul{
  list-style-type: none;
  margin: 0;
  float: right;
}
.header-wrapper a{
  float: left;
  cursor: pointer;
  clear: right;
  padding: 20px;
  text-decoration: none;
  color: black;
}
.header-wrapper a:hover{
  color: grey;
}
.responsive-header{
  display: none;
}

@media only screen and (max-width:935px){
  .header-wrapper{
    display: none;
  }
}
@media only screen and (max-width:480px){
  .responsive-header{
    display: block;
    text-align: left;
    padding-left: 2.5rem;
    padding-top: 2.5rem;
  }
  .responsive-header .name-head{
    font-size: 4rem;
    font-weight: bold;
  }
  .responsive-header .role-head{
    font-size: 2rem;

  }
}
