.home-wrap{
  /*background-color: #EBE5E5;*/
}
.right-section{
  position: relative;
  height: 100%;
}
.left-section{
  position: relative;
  height: 100%;
}
.separation-stripe{
  height: 10px;
  background: linear-gradient(to right, #A1ECE9,white,#ECA1CB,white,#A1ECE9,white,#ECA1CB);
  border-top: 1px solid grey;
}

.left-section img{
    border-radius: 50%;

    width: 35rem;
    height: 35rem;
    object-fit: cover;
    margin-top: 30px;
}
.left-section .dev{
  filter: grayscale(100%) blur(3px);
}
.left-section img:hover{
    filter: none;
}
.salutation{
  font-size: 3rem;
  text-align: left;
}
.brief-about-me{
  text-align: left;
  width: 80%;
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 15px;
}
.res-wor-ski{
  margin-top: 4rem;
}
.res-wor-ski .r-w-s{
  /*border-radius: 50%;*/
  width: 100px;
  line-height: 100px;
  float: left;
  margin-right: 3rem;
  height: 100px;
  background-color: #86BAA1;
  background-color: #86BAA1;
  transform: rotate(14deg);
  cursor: pointer;
  color: white;
  transition: .1s transform linear;
}
.res-wor-ski .r-w-s:nth-child(3){
  margin-right: 0;
}
.res-wor-ski .r-w-s:hover{
  transform: scale(1.1) rotate(14deg);
  /*background-color: #bd8d36;*/
}
.me-container2{
  position: absolute;
  left: 0;
  top: 48%;
  transform: translate(0,-50%);
}
.me-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.left-section .name{
  font-size: 3rem;
}
.left-section .job-role{
  font-size: 2rem;
}
.red{
  background-color: grey !important;
}
.resp-r-w-s-wrap{
  width: 80%;
  margin: auto;
  font-size: 2rem;

}
.resp-r-w-s{
  background-color: #dccfc7;
  margin-bottom: 1rem;
  padding: 1rem;
  display: block;
  border-radius: 1rem;
  color: black;
  cursor: pointer;
}
 a:active{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.resp-r-w-s img{
  margin-left: 2rem;
  width: 2.5rem;
}
@media only screen and (max-width:935px){
  .brief-about-me{
    font-size: 1.5rem;
  }
  .salutation{
    font-size: 2.5rem;
  }
  .res-wor-ski .r-w-s{
    width: 75px;
    height: 75px;
    font-size: 1.5rem;
    line-height: 75px;
  }
  .left-section img{
    width: 30rem;
    height: 30rem;
  }
}
@media only screen and (max-width:693px){

  .left-section .name{
    display: none;
  }
  .left-section .job-role{
    display: none;
  }
  .left-section{
    width: 100%;
    height: auto;
  }
  .me-container, .me-container2{
    position: static;
    transform: none;
  }
  .left-section img{
    width: 350px;
  height: 350px;
  margin-top: 3rem;

  }
  .right-section{
    width: 100%;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
  .salutation{
    text-align: center;
    font-size: 2.5rem;
  }
  .brief-about-me{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
  }
  .res-wor-ski{
    display: none;
  }
}

@media only screen and (max-width:480px){
  .left-section img{
    width: 300px;
  height: 300px;

  }
  .right-section{
    margin-top: 6rem;
    width: 100%;
  }
  .salutation{
  font-size: 2.5rem;
  }
  .brief-about-me{
    font-size: 2rem;
    width: 90%;
  }
  .res-wor-ski{
    width: 240px;
    margin: auto;
    margin-top: 6rem;
  }
}

@media only screen and (max-width:400px){
}

@media only screen and (max-width:350px){
  .left-section img{
    width: 280px;
  height: 280px;
  }
}
