.screens-modal{
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  padding: 5rem;
  background-color: white;
  z-index: 1041;
  transform: translate(-50%,-50%);
  border: 3px solid black;
border-radius: 1rem;
}
.screens-modal img{
  width: 100%;

}

.modal-backdrop{
  opacity: .7;
}

.next-screenshot,.previous-screenshot{
  position: absolute;
  top:50%;
  font-size: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: maroon;
  color: white;
  padding: 1rem;
  opacity: .5;
}
.previous-screenshot{
  left: 0
}
.next-screenshot{
  right: 0;
}
