.screens-modal{
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  padding: 5rem;
  background-color: white;
  z-index: 1041;
  transform: translate(-50%,-50%);
  border: 3px solid black;
border-radius: 1rem;
}
.screens-modal img{
  width: 100%;

}

.modal-backdrop{
  opacity: .7;
}

.next-screenshot,.previous-screenshot{
  position: absolute;
  top:50%;
  font-size: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: maroon;
  color: white;
  padding: 1rem;
  opacity: .5;
}
.previous-screenshot{
  left: 0
}
.next-screenshot{
  right: 0;
}
.resp-prev-next{
  display: none;
}

@media only screen and (max-width:480px){
  .next-screenshot,.previous-screenshot{
    display: none;
  }
  .screens-modal{
    padding: 0;
    width: 95%;
  }

  .resp-prev-next{
    display: inline-block;
    position: absolute;
bottom: 20%;
left: 0;

display: inline-block;
z-index: 100000000;
right: 0;
margin: auto;
width: 50%;
font-size: 2rem;
  }
  .resp-prev-next span{
    background: white;
    padding: 1rem;
    border-radius: 5px;
  }
  .previous-screenshot-resp{
    margin-right: 2rem;
  }
}
