
.skills-wrapper{
/*background-color: #EBE5E5;*/
  }
.skills-container{
  /*background-color: white;*/
  text-align: left;
  padding: 2rem;
  padding-left: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

}
.sub-section{

}
.sub-section{
margin-bottom: 4rem;
}
.sub-section .sub-head{
font-size: 20px;
margin-bottom: 2rem;

}
.sub-content img{
  max-width: 4rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
.tech-ico-name{
  text-align: center;
  float: left;
  margin-right: 3rem;
}
.tech-ico-name span{
  display: block;
}
