
.skills-wrapper{
/*background-color: #EBE5E5;*/
  }
.skills-container{
  /*background-color: white;*/
  text-align: left;
  padding: 2rem;
  padding-left: 4rem;
  width: 600px;
  margin: auto;
  /*position: absolute;*/
  /*left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);*/
  /*width:400px;
  margin-left:-200px;
  left:50%;*/

}
.sub-section{

}
.sub-section{
margin-bottom: 4rem;
}
.sub-section .sub-head{
font-size: 2rem;
margin-bottom: 2rem;

}
.sub-content img{
  max-width: 4rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
.tech-ico-name{
  text-align: center;
  float: left;
  margin-right: 3rem;
}
.tech-ico-name span{
  display: block;
}
@media only screen and (max-width:600px){
  .skills-container{
    width: 100%;
    padding-left: 0;
    padding: 0;
  }
  .sub-content img{
    max-width: 5rem;
    width: 5rem;
  }
  .sub-section{
    font-size:1.3rem;
    margin-bottom: 0;
  }
  .sub-section .sub-head{
    background-color: #0080001c;
    padding: 0.3rem;
    margin-bottom: 3.1rem;
    text-align: center;
  }
  .tech-ico-name{
    margin-bottom: 4rem;
    width: 33.33%;
    margin-right: 0;
  }
  .skills-container .page-head{
    text-align: center;
  }
}
