.skills-wrapper{
  background-color: #EBE5E5;
  text-align: left;
  padding: 2rem;
}
.skills-head{
  font-size: 35px;
  font-weight: 500;
}
.sub-section{

}
.sub-section{

}
.sub-section .sub-head{
font-size: 20px;
}
