html{
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-family: 'Cantarell', sans-serif;
  background-color: #ebe5e5;
  /*background-color: #BFD3C1;*/
  /*background: linear-gradient(to right,#ebe5e5, #0e5a54);*/
}
.resp{
  display: none;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
.hide{
  display: none;
}
.page-head{
  text-align: left;
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: none !important
}

@media only screen and (max-width:993px){
  html{
    font-size: 55.5%;
  }
}

@media only screen and (max-width:480px){
  html{
    font-size: 45.5%;
  }

}
@media only screen and (max-width:693px){
  .resp{
    display: block;
  }
  .non-resp{
    display: none;
  }
}
