body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-family: 'Cantarell', sans-serif;
  background-color: #ebe5e5;
  /*background: linear-gradient(to right,#ebe5e5, #0e5a54);*/
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
.hide{
  display: none;
}
.page-head{
  text-align: left;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 2rem;
}
